{% extends "govuk_template.html" %}

{% block head %}
  {% include "_stylesheets.html" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  {% include "_proposition_header.html" %}
{% endblock %}

{% block content %}
  {% include "toolkit/phase-banner.html" %}
  {% block breadcrumb %}{% endblock %}
  <div id="wrapper">
    <main id="content" role="main">
      {% block main_content %}
      {% endblock %}
    </main>
  </div>
{% endblock %}

{% block body_end %}
  {% include "_javascripts.html" %}
{% endblock %}
