/* line 5, toolkit/scss/_buttons.scss */
.button-save,
input.button-save-with-advice {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin: 0 0 25px 0;
}

/* line 50, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:visited,
input.button-save-with-advice:visited {
  background-color: #00823b;
}

/* line 54, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:hover, .button-save:focus,
input.button-save-with-advice:hover,
input.button-save-with-advice:focus {
  background-color: #00692f;
}

/* line 59, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:active,
input.button-save-with-advice:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

/* line 65, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save.disabled, .button-save[disabled="disabled"], .button-save[disabled],
input.disabled.button-save-with-advice,
input[disabled="disabled"].button-save-with-advice,
input[disabled].button-save-with-advice {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 69, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save.disabled:hover, .button-save[disabled="disabled"]:hover, .button-save[disabled]:hover,
input.disabled.button-save-with-advice:hover,
input[disabled="disabled"].button-save-with-advice:hover,
input[disabled].button-save-with-advice:hover {
  cursor: default;
  background-color: #00823b;
}

/* line 74, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save.disabled:active, .button-save[disabled="disabled"]:active, .button-save[disabled]:active,
input.disabled.button-save-with-advice:active,
input[disabled="disabled"].button-save-with-advice:active,
input[disabled].button-save-with-advice:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
}

/* line 87, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:link, .button-save:hover, .button-save:focus, .button-save:visited,
input.button-save-with-advice:link,
input.button-save-with-advice:hover,
input.button-save-with-advice:focus,
input.button-save-with-advice:visited {
  color: #fff;
}

/* line 106, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:before,
input.button-save-with-advice:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 117, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save:active:before,
input.button-save-with-advice:active:before {
  top: -10%;
  height: 120%;
}

/* line 130, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-save[rel="external"]:after,
input[rel="external"].button-save-with-advice:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 641px) {
  /* line 5, toolkit/scss/_buttons.scss */
  .button-save,
  input.button-save-with-advice {
    font-size: 24px;
    line-height: 1.25;
  }
}

/* line 13, toolkit/scss/_buttons.scss */
a.button-save {
  display: -moz-inline-stack;
  display: inline-block;
}

@media (min-width: 641px) {
  /* line 17, toolkit/scss/_buttons.scss */
  input.button-save {
    margin-top: 55px;
  }
}

@media (min-width: 641px) {
  /* line 23, toolkit/scss/_buttons.scss */
  input.button-save-with-advice {
    margin-top: 20px;
  }
}

/* line 30, toolkit/scss/_buttons.scss */
.button-secondary,
.button-secondary-with-advice {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
}

/* line 50, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:visited,
.button-secondary-with-advice:visited {
  background-color: #dee0e2;
}

/* line 54, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:hover, .button-secondary:focus,
.button-secondary-with-advice:hover,
.button-secondary-with-advice:focus {
  background-color: #d0d3d6;
}

/* line 59, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:active,
.button-secondary-with-advice:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

/* line 65, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled, .button-secondary[disabled="disabled"], .button-secondary[disabled],
.button-secondary-with-advice.disabled,
.button-secondary-with-advice[disabled="disabled"],
.button-secondary-with-advice[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 69, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled:hover, .button-secondary[disabled="disabled"]:hover, .button-secondary[disabled]:hover,
.button-secondary-with-advice.disabled:hover,
.button-secondary-with-advice[disabled="disabled"]:hover,
.button-secondary-with-advice[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

/* line 74, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary.disabled:active, .button-secondary[disabled="disabled"]:active, .button-secondary[disabled]:active,
.button-secondary-with-advice.disabled:active,
.button-secondary-with-advice[disabled="disabled"]:active,
.button-secondary-with-advice[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

/* line 96, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:link, .button-secondary:hover, .button-secondary:focus, .button-secondary:visited,
.button-secondary-with-advice:link,
.button-secondary-with-advice:hover,
.button-secondary-with-advice:focus,
.button-secondary-with-advice:visited {
  color: #0b0c0c;
}

/* line 106, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:before,
.button-secondary-with-advice:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 117, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary:active:before,
.button-secondary-with-advice:active:before {
  top: -10%;
  height: 120%;
}

/* line 130, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-secondary[rel="external"]:after,
.button-secondary-with-advice[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

/* line 35, toolkit/scss/_buttons.scss */
.button-destructive,
.button-destructive-with-advice {
  background-color: #b10e1e;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
}

/* line 50, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:visited,
.button-destructive-with-advice:visited {
  background-color: #b10e1e;
}

/* line 54, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:hover, .button-destructive:focus,
.button-destructive-with-advice:hover,
.button-destructive-with-advice:focus {
  background-color: #990c1a;
}

/* line 59, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:active,
.button-destructive-with-advice:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #b10e1e;
  -moz-box-shadow: 0 0 0 #b10e1e;
  box-shadow: 0 0 0 #b10e1e;
}

/* line 65, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive.disabled, .button-destructive[disabled="disabled"], .button-destructive[disabled],
.button-destructive-with-advice.disabled,
.button-destructive-with-advice[disabled="disabled"],
.button-destructive-with-advice[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* line 69, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive.disabled:hover, .button-destructive[disabled="disabled"]:hover, .button-destructive[disabled]:hover,
.button-destructive-with-advice.disabled:hover,
.button-destructive-with-advice[disabled="disabled"]:hover,
.button-destructive-with-advice[disabled]:hover {
  cursor: default;
  background-color: #b10e1e;
}

/* line 74, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive.disabled:active, .button-destructive[disabled="disabled"]:active, .button-destructive[disabled]:active,
.button-destructive-with-advice.disabled:active,
.button-destructive-with-advice[disabled="disabled"]:active,
.button-destructive-with-advice[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #6a0812;
  -moz-box-shadow: 0 2px 0 #6a0812;
  box-shadow: 0 2px 0 #6a0812;
}

/* line 87, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:link, .button-destructive:hover, .button-destructive:focus, .button-destructive:visited,
.button-destructive-with-advice:link,
.button-destructive-with-advice:hover,
.button-destructive-with-advice:focus,
.button-destructive-with-advice:visited {
  color: #fff;
}

/* line 106, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:before,
.button-destructive-with-advice:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 117, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive:active:before,
.button-destructive-with-advice:active:before {
  top: -10%;
  height: 120%;
}

/* line 130, node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/_buttons.scss */
.button-destructive[rel="external"]:after,
.button-destructive-with-advice[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}
